.css-2b097c-container{
    margin-bottom: 10px!important;
}
.css-yk16xz-control{
    border: 1px solid rgba(252, 252, 252, 0.4)!important;
    background-color: rgba(252, 252, 252, 0.2)!important;
    border-radius: 3px!important;
}
.css-yk16xz-control:hover{
    color: white!important;
    background-color: #0a1931!important;
    outline: none!important;
}
.css-1wa3eu0-placeholder{
    color: #fff!important;
}